

<div class="container-fluid">
  <h1>Order List</h1>
  <table class="table table-striped table-hover ">
    <tr>
      <th>Total price</th>
      <th>Customer id</th>
      <th>Payment status</th>

    </tr>
    <%@order.each do |product| %>
      <tr>
        <td><%=product.total_price %></td>
        <td><%=product.customer_id %></td>
        <td><%=product.payment_status %></td>
      </tr>
    <% end %>
  </table>
</div>
<br>

<%#=link_to 'Add new product', new_product_path , class:"btn btn-secondary"%>
<%#=link_to 'Cart List', cart_index_path , class:"btn btn-secondary"%>
