

<div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-right: 350px ; margin-left: 380px; font-size: 1.25em">
  <%=notice %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

