<br><br><br>

<div class="container-fluid">

<%#= link_to 'Customers', product_index_path , class: 'btn btn-secondary' %>
<%#= link_to 'Seller', product_index_path, class: 'btn btn-secondary' %>

  <p>
    Welcome to green cart..!
    Happy Shopping
  </p>
</div>
