 <p>Name  : <%=@customer.name %></p>
 <p>Mobile no  : <%=@customer.mbl_no %></p>
 <p>Age  : <%=@customer.age %></p>

<%#if Address.find_by(id: @customer.id).nil? %>

<!--   <p>Add an address !</p>-->
   <%#form_for :address , url:  %>

 <%#end %>